* {
    margin: 0;
}

/*  cabecalho */

#cabecalho {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 20px;
    border: 2px solid violet;
}

#navegacao{
    line-height: 50px;
}

#navegacao a{
    padding-right: 50px;
    text-decoration: none;
}
/*  corpo */
article {
    border:1px solid green;
    max-width: 70%;
    display: inline-block;
    margin-left: 50px;
    padding: 50px;
    
}


#informacoes-gerais {
    margin: 100px;
    border: 2px solid green;
}

#soco-potente {
    margin: 100px;
    border: 2px solid green;
}

#visao {
    margin: 100px;
    border: 2px solid green;
}

#referencias {
    margin: 100px;
    border: 2px solid green;
}

/*  barra lateral */

aside{
    border: 2px solid red;
    max-width: 20%;
    float: right;
    display: inline-block;
    margin-right: 50px;
    padding: 10px;
}

/*  rodapé */

footer {
    padding: 20px 50px;
    border: 2px solid red;
}