.cardlist {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 10px;
  display: flex;
  flex: 1;
}

h1 {
  text-align: center;
}