/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
      font-size: xx-large;
      margin: 20px;
  
  }
  
  article {
  
  }
  
  h1 {
    font-size: x-large;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      margin: 20px 0;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }
  @media screen and (min-width: 500px){
      body {
          background-color: red;
          font-size: xx-large;
          margin: 50px;
      }
      .images-container {
          display: flex;
          flex-flow: column;
      }
      .row-container {
          border: 2px solid green;
          display: flex;
          justify-content: space-around;
      }   
  }

  @media screen and (min-width: 1000px){
      body{
          background-color: blue;
          font-size: xxx-large;
          margin: 100px;
          max-width: 1500px;
      }
  }