div:hover{
    border: 2px solid green;
}

#primaria{
    color:red;
    font-style: italic;
}

#secundaria{
    color:purple;
    text-decoration: underline;
}

#complementar{
    color: yellow;
    font-family: fantasy;
    height: 300px;
    font-style: italic;
}
#escura {
    color: rgb(56, 5, 5);
    font-weight: bold;
}
#clara {
    color: #f5a1a1;
    font-stretch: expanded;
    font-style: italic;
}
